<h2>History of Database Modifications</h2>
<p>Below is a list of recent database modifications:</p>

<ul class="change-history">
  <li ng-repeat="event in history | orderBy: '-date' " class="alert" ng-class="{'create': 'alert-success', 'delete': 'alert-danger', 'alert-update': 'info' }[event.action]">
    <p class="change-action">{{ event.action }}</p>
    <p>{{ event.data.commonName }}, <em>{{ event.data.scientificName }}</em></p>
    <p>{{ event.date | date:"MM/dd/yyyy 'at' h:mma" }}</p>
    <p>{{ event.modifiedBy.email }}</p>
  </li>
</ul>
