<h2>History of Database Modifications</h2>
<p>Below is a list of recent database modifications:</p>

<ul class="change-history">
  <li ng-repeat="event in history | orderBy: '-date' " class="alert" ng-class="{'create': 'alert-success', 'delete': 'alert-danger', 'update': 'alert-info' }[event.action]">
    <p><strong class="change-action">{{ event.action }} {{ event.content }}</strong></p>
    <p ng-show="event.content === 'species record' ">{{ event.data.commonName 
    }}, &nbsp;<em>{{ event.data.scientificName }}</em></p>
    <p ng-show="event.content === 'user profile' ">{{ event.modifiedBy.email }} edited {{ event.data.email }}</p>
    <p>{{ event.date | date:"MM/dd/yyyy 'at' h:mma" }}</p>
    <p ng-hide="event.content === 'user profile' ">{{ event.modifiedBy.email }}</p>
  </li>
</ul>
