<table ts-wrapper class="table table-striped" ng-init="getSpecies()">
  <thead>
    <tr>
      <th ts-criteria="scientificName">Scientific Name</th>
      <th ts-criteria="commonName">Common Name</th>
      <th ts-criteria="taxon" ts-default>Taxon</th>
      <th ts-criteria="leadOffice">Lead Office</th>
      <th>State Range</th>
      <th ng-show="isAdmin() || isEditor()" class="hidden-print">Edit</th>
      <th ng-show="isAdmin()" class="hidden-print">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="animal in species | filter:query" ts-repeat>
      <td>{{ animal.scientificName }}</td>
      <td>{{ animal.commonName }}</td>
      <td>{{ animal.taxon }}</td>
      <td>{{ animal.leadOffice }}</td>
      <td>{{ animal.range.join(', ') }}</td>
      <td ng-show="isAdmin() || isEditor()" class="hidden-print">
        <button ui-sref="species.update({ id: animal.id })" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span></button>
      </td>
      <td ng-show="isAdmin()" class="hidden-print">
        <button ng-click="destroy(animal.id)"class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
  </tbody>
</table>
