<table class="table table-striped" ng-init="getSpecies()">
  <thead>
    <tr>
      <th>Scientific Name</th>
      <th>Common Name</th>
      <th>Taxon</th>
      <th>Lead Office</th>
      <th>State Range</th>
      <th ng-show="isAdmin() || isEditor()">Modify</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="animal in species | filter:query">
      <td>{{ animal.scientificName }}</td>
      <td>{{ animal.commonName }}</td>
      <td>{{ animal.taxon }}</td>
      <td>{{ animal.leadOffice }}</td>
      <td>{{ animal.range.join(', ') }}</td>
      <td ng-show="isAdmin() || isEditor()">
        <button ui-sref="species.update({ id: animal.id })" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span></button>
        <button ng-click="destroy(animal.id)"class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
  </tbody>
</table>
