<h1>At-Risk Species</h1>

<p class="hidden-print">Our goal is to work with public and private partners to proactively conserve as many of these at-risk species as possible over the next decade, and hopefully prevent the need to list them under the Endangered Species Act.</p>

<h2 ng-if="query" class="visible-print text-center">Query: {{ query }}</h2>

<div ng-show="$state.current.name === 'species.list' || $state.current.name === 'species.summary' ">
  <div class="btn-group view-group hidden-print" role="group">
    <a ui-sref-active="active" ui-sref="species.list" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;&nbsp;&nbsp;Table</a>
    <a ui-sref-active="active" ui-sref="species.summary" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;&nbsp;Summary</a>
  </div>

  <div class="form-group hidden-print">
    <label class="sr-only">Query Species</label>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      <input type="search" class="form-control" ng-model="query" placeholder="Enter term to filter species">
    </div>
  </div>
</div>

<div ui-view></div>
