<ul class="list-group" ng-init="getSpecies()">
  <li ng-repeat="animal in species | filter: query" class="list-group-item">
    <h3>{{ animal.commonName }}&nbsp;&nbsp;&nbsp;<em>({{ animal.scientificName }})</em></h3>
    <p>Taxon: {{ animal.taxon }}</p>
    <p>Lead Office: {{ animal.leadOffice }}</p>
    <p>Range: {{ animal.range.join(', ') }} </span></p>
    <a ng-show="isEditor() || isAdmin()"class="btn btn-sm btn-success hidden-print" ui-sref="species.update({ id: animal.id })"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</a>
    <button ng-show="isAdmin()" class="btn btn-sm btn-danger hidden-print" ng-click="destroy(animal)"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
  </li>
</ul>
