<div class="panel panel-info" ng-init="getOne()">
  <div class="panel-heading">
    <h2 class="panel-title">Update a Species</h2>
  </div>
  <div class="panel-body">
    <form ng-submit="createSpecies()">
      <div class="form-group">
        <label for="scientificName">Scientific Name:</label>
        <input ng-model="species.scientificName" type="text" class="form-control" id="scientificName" placeholder="Ambystoma barbouri" required>
      </div>
      <div class="form-group">
        <label for="commonName">Common Name:</label>
        <input ng-model="species.commonName" type="text" class="form-control" id="commonName" placeholder="Streamside salamander">
      </div>
      <div class="form-group">
        <label for="taxon">Taxonomic Group:</label>
        <select ng-model="species.taxon" class="form-control" id="taxon" required>
          <option disabled selected> Select a Taxon </option>
          <option value="Amphibian">Amphibian</option>
          <option value="Amphipod">Amphipod</option>
          <option value="Bee">Bee</option>
          <option value="Beetle">Beetle</option>
          <option value="Bird">Bird</option>
          <option value="Butterfly">Butterfly</option>
          <option value="Caddisfly">Caddisfly</option>
          <option value="Crayfish">Crayfish</option>
          <option value="Dragonfly">Dragonfly</option>
          <option value="Fly">Fly</option>
          <option value="Fish">Fish</option>
          <option value="Isopod">Isopod</option>
          <option value="Mammal">Mammal</option>
          <option value="Moth">Moth</option>
          <option value="Mussel">Mussel</option>
          <option value="Non Vascular Plant">Non-Vascular Plant</option>
          <option value="Reptile">Reptile</option>
          <option value="Snail">Snail</option>
          <option value="Stonefly">Stonefly</option>
          <option value="Vascular Plant">Vascular Plant</option>
        </select>
      </div>
      <div class="form-group">
        <label for="leadOffice">Lead Office:</label>
        <select ng-model="species.leadOffice" class="form-control" id="leadOffice" required>
          <option disabled selected> Select an Office </option>
          <option value="Daphne">Daphne, AL</option>
          <option value="Arkansas">Conway, AR</option>
          <option value="Jacksonville">Jacksonville, FL</option>
          <option value="Panama City">Panama City, FL</option>
          <option value="SouthFlorida">Vero Beach, FL</option>
          <option value="Athens">Athens, GA</option>
          <option value="Kentucky">Frankfort, KY</option>
          <option value="Lafayette">Lafayette, LA</option>
          <option value="Jackson">Jackson, MS</option>
          <option value="Asheville">Asheville, NC</option>
          <option value="Raleigh">Raleigh, NC</option>
          <option value="Charleston">Charleston, SC</option>
          <option value="Cookeville">Cookeville, TN</option>
          <option value="Caribbean">Boqueron, PR</option>
          <option value="Region 2">Southwest Region</option>
          <option value="Region 3">Midwest Region</option>
          <option value="Region 4">Southeast Region</option>
          <option value="Region 5">Northeast Region</option>
          <option value="Region 6">Mountain-Prairie Region</option>
        </select>
      </div>
      <div class="form-group">
        <label for="range">Species Range:</label>
        <input ng-model="species.range" type="text" class="form-control" placeholder="FL, AL, GA" id="range">
      </div>

      <button type="submit" class="btn btn-info btn-block">Update</button>
    </form>
  </div>
</div>
