<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">User Profile</h2>
  </div>
  <div class="panel-body">
    <form ng-submit="update()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input ng-model="user.email" type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="job">Job</label>
        <input ng-model="user.job" type="text" class="form-control" id="job" placeholder="Endangered Species Biologist">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input ng-model="user.phone" type="text" class="form-control" id="phone" placeholder="(404) 679-7000">
      </div>
      <div class="form-group">
        <label for="accountType">Account Type</label>
        <select ng-model="user.accountType" class="form-control" id="accountType">
          <option value="admin">Admin</option>
          <option value="editor">Editor</option>
          <option value="viewer">Viewer</option>
        </select>
      </div>
      <button ng-disable="!isAdmin()" type="submit" class="btn btn-primary btn-block">Update</button>
    </form>
  </div>
</div>

<div ng-show="isEditor() || isAdmin()">
  <h3>User History</h3>
  <p>Below is a list of modifications to the database that you have made:</p>

  <ul class="change-history" ng-init="getUserData()">
    <li ng-repeat="event in history | orderBy: '-date' " class="alert" ng-class="{'create': 'alert-success', 'delete': 'alert-danger', 'update': 'alert-info' }[event.action]">
      <p class="change-action">{{ event.action }} {{ event.content }}</p>
      <p>{{ event.date | date:"MM/dd/yyyy 'at' h:mma" }}</p>
    </li>
  </ul>
</div>
